/*h1{
            color:brown;
        }
        h2{
            color:aqua;
        }*/
        .style1{
            color:green;
        }
        #myid{
            height:300px;
            width:500px;
            background-color: yellow;
        }
  